# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.swp

# SQLITE files
*.db
*.db-shm
*.db-wal


#pidfile and errorlog
*.pid
*.log
*.err

#binary
proxysql

#core
core

#config
proxysql.cnf*

notes.txt
architecture.txt
