[global]
core_dump_file_size=268435456
verbose=10
[mysql]
mysql_usage_user=proxy
mysql_usage_password=proxy
mysql_servers=127.0.0.1:3306;127.0.0.2:3306;127.0.0.3:3306
mysql_use_masters_for_reads=1
mysql_connection_pool_enabled=1
mysql_max_resultset_size=1048576
mysql_max_query_size=1048576
mysql_query_cache_enabled=1
mysql_query_cache_partitions=16
mysql_query_cache_default_timeout=30
mysql_threads=3
mysql_socket=/tmp/proxysql.sock
[mysql users]
vegaicm=password
root=
[debug]
debug_generic=6
debug_net=6
debug_pkt_array=3
debug_memory=3
debug_mysql_com=6
debug_mysql_connection=6
debug_admin=6
debug_mysql_auth=6
debug_sqlite=6
