[global]
core_dump_file_size=268435456
debug=1
verbose=10
[mysql]
mysql_usage_user=msandbox
mysql_usage_password=msandbox
mysql_servers=127.0.0.1:23389;127.0.0.1:23390;127.0.0.1:23391
mysql_use_masters_for_reads=1
mysql_connection_pool_enabled=1
mysql_max_resultset_size=1048576
mysql_max_query_size=1048576
mysql_query_cache_enabled=1
mysql_query_cache_partitions=16
mysql_query_cache_default_timeout=30
#mysql_query_cache_size=4194304
mysql_query_cache_size=10000000
mysql_hostgroups=3
mysql_threads=4
mysql_socket=/tmp/proxysql.sock
mysql_query_cache_precheck=1
mysql_maintenance_timeout=5000
[fundadb]
fundadb_hash_purge_time=10000
fundadb_hash_purge_loop=1000
fundadb_hash_purge_threshold_pct_min=10
[mysql users]
vegaicm=password
root=
[debug]
#debug_generic=6
#debug_net=6
#debug_pkt_array=6
#debug_mysql_server=6
#debug_memory=3
#debug_mysql_com=6
#debug_mysql_connection=6
#debug_admin=6
#debug_mysql_auth=6
#debug_sqlite=6
